body{
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar{
    height: 0px;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #FF7619;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: #243238;
}

/* Header design */
.header{
    width: 100%;
    top: 0;
    position: relative;
    height: 90px;
    background-color: white;
    margin: 0;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}
.img-logo{
    width: 20%;
}
.header .img-logo a img{
    width: 60%;
    margin-left: 70%;
    height: 90px;
    display: flex;
}
.phn-contact-details{
    margin: 12px 0px 10px 42%;
    width: 180px;
    display: flex;
    
}
.phn-contact-details .icon-box, .email-contact-details .icon-box{    
    border: 1px solid rgb(231, 230, 230);
    padding: 8px 12px 15px 15px;
    /* background-color: yellowgreen; */
    margin: 12px 5px 5px 0px;
}
.icon-content h3{
    font-size: 11px;
    padding-top: 12px;
    font-family:  'Raleway', sans-serif;
}
.icon-content p{
    color: #B6B6B6;
}
.email-contact-details{
    margin: 12px 0px 10px 10px;
    /* background-color: yellow; */
    width: 233px;
    display: flex;
}
.fa-envelope{
    color: #FF7619;
}
.fa-phone{
    color: #FF7619;
}

/* navigation bar design */
.menu-items{
    position: sticky;
    top: 0px;
    margin-top: 1px;
    background-color: #262F36;
    height: 70px;
    z-index: 1;
    border-bottom: 4px solid #FF7619;
}
.menu-items ul{
    position: absolute;
    margin-left: 5%;
    top: 0px;
}
.menu-items ul li{
    position: relative;
    display: inline-block;
    background-color: #262F36;
    color: white;
    white-space: nowrap;
    /* float: left; */
    list-style: none;
    margin: 0px;
    cursor: pointer;
    top: 0px;
    font: normal bold 13px sans-serif;
    height: 40px;
    padding: 14px 17px 0px 8px;    
}
.menu-items ul li a{
    position: relative;
    display: block;
    list-style: none;
    text-decoration: none;
    color: white;
    top: 0px;
    margin-top: -30px;
    height: 40px;
    padding: 30px 8px 0px 8px;
}
.menu-items ul li a:hover{
    color: #FF7619;
    transition: .5s ease;
}
.menu-items ul li:hover{
    color: #FF7619;
    transition: .5s ease;
}
.menu-items ul li:hover .menu-items-sub-items ul{
    /* background-color: gray; */
    color: #FF7619;
    opacity: 1;
}
.menu-items ul li ul li{
    /* background-color: cadetblue; */
    background-color: #ffffff;
    color: #262F36;
    float: none;
    text-decoration: none;
    padding: 0px;
    margin-right: 0px;
}
.menu-items-sub-items ul{
    margin-left: -20px;
    margin-top: 54px;
    padding: 0px;
    opacity: 0;
    transition: opacity 0.7s ease;
    color: #ffffff;
    /* box-shadow: 3px 3px 5px grey,-3px 3px 5px grey,3px 3px 5px grey,-3px 0px 5px grey,3px 0px 5px grey; */
}
.menu-items-sub-items ul li{
    width: 200px;   
    line-height: 40px;
    display: none;    
}
.menu-items-sub-items ul li a{ 
    display: block;
    margin: 0px;
    padding: 0px;
    padding-left: 7px;
    top: 0px;
    width: 170px;
    color: #262F36;
}
.menu-items-sub-items ul li a:hover{
    background-color: #FF7619;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFFFFF;
}
.menu-items ul li:hover .menu-items-sub-items ul li{
    display: block;
}

/* Donate Now button */
.donate-btn{
    margin-left: 75%;
    position: relative;
    margin-top: 0px;
    top: 0;
}
.btn-1{
    background-color: #FF7619;
    border: 2px solid #FF7619;
    color: #E9E9E9;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    padding: 25px;
    cursor: pointer;
}
.btn-1:hover{
    background-color: #E9E9E9;
    color: #FF7619;
}

/* Images */
.images-setting{
    height: 650px;
    width: 100%;
    background: #243238;
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("img6.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    animation: slide 8s infinite;
}
@keyframes slide{
    0%{
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("img6.png");
    }    
    25%{
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("img3.jpg");
    }
    50%{
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("img2.jpg");
    }
    75%{
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("img1.jpg");
    }
    100%{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("img3.jpg");
    }
}

/* images button */
.img-btn-left{
    left: 1%;
}
.img-btn-right{
    right: 1%;
}
.size{
    top: 40%;
    position: absolute;
    background-color: #FF7619;
    opacity: 0.6;
    border: hidden;
    visibility: hidden;
    padding: 5px 10px;
    padding-top: 2px !important;
    color: #E9E9E9;
    font-size: 30px;
}
.images-setting:hover .size{
    visibility: visible;
}
.size:hover{
    opacity: 0.9;
}
.tag-line{
    position: absolute;
    color: #E9E9E9;
    top:38%;
    left:21%;
    font-size: 55px;
}

/* why ngo */
.whyngo{
    /* background-color: tomato; */
    position: relative;
}
.aboutngo{  
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
    width:60%;
    height: 350px;
    /* background-color: red; */
}
.aboutngo h1{
    text-align: center;
}
.aboutngo p{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
    text-align: justify;
}
.latestevents{
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    /* margin-right: 50px; */
    padding-bottom: 10px;
    float: left;
    background-color: rgb(212, 209, 209);
   width: 32%;
   height: 350px;
}
.latestevents h3{
    text-align: center;
    padding-bottom: 25px;
    color:#FF7619;
}
.latestevents aside{
    margin-top: 0px;
    display: block;
    
    
}
.latestevents img{
    padding-top: 5px;
    padding-left: 10px;
    height: 70px;
    width: 30%;
}
.latestevents a{
    /* padding-top: 10px; */
    float: right;
    margin-top: 5px;
    /* margin-left: 0px; */
    margin-right: 150px;
    /* background-color: violet; */
    text-decoration: none;
    color: #243238;

}
.latestevents a:hover{
    color: #FF7619;
}
.latestevents p{
    width: 63%;
    float: right;
    /* padding-right: 5px; */
    font-size: 12px;
}

/* cards */
.cards{
    margin-top: 50px;
    width: 80%;
    margin-left: 150px;
    flex-direction: column;
    padding-bottom: 4%;
    /* background-color: yellow; */
}
.card1{
    display: inline-block;
    height: 250px;
    width: 30%;
    cursor: pointer;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(donate.jpg);
    background-size: contain;
    color: #ffffff;
}
.card2{
    display: inline-block;
    height: 250px;
    width: 30%;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
    background-image: linear-gradient(rgba(255,118,25, 0.7),rgba(255,118,25, 0.7)), url(volunteer.png); 
    background-size: contain;
    color: #ffffff;
}
.card3{
    cursor: pointer;
    display: inline-block;
    height: 250px;
    width: 30%;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(inspiration.jpg);
    background-size: contain;
    color: #ffffff;
}
.card1 h3{
    font-weight: bolder;
    text-align: center;
    font-size: 24px;
}
.card2 h3{
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
}
.card3 h3{
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
}
.card1 p{
    padding: 20px;
    margin-top: 80px;
    text-align: justify;
}
.card2 p{
    padding: 20px;
    margin-top: 80px;
    text-align: justify;
}
.card3 p{
    padding: 20px;
    margin-top: 80px;
    text-align: justify;
}
.card1 a{
    position: absolute;
    text-align: center;
    margin-left: 100px; 
    border-radius: 30px;
    height: 25px; 
    width: 115px;
    margin-top: -13px; 
    border: 2px solid #FF7619;
    padding: 6px;
    background-color: #ffffff;
    text-decoration: none;
    color: #243238;
}
.card2 a{
    position: absolute;
    text-align: center;
    margin-left: 100px; 
    border-radius: 30px;
    height: 25px; 
    width: 115px;
    margin-top: -13px; 
    border: 2px solid #FF7619;
    padding: 6px;
    background-color: #ffffff;
    text-decoration: none;
    color: #243238;
}
.card3 a{
    position: absolute;
    text-align: center;
    margin-left: 100px; 
    border-radius: 30px;
    height: 25px; 
    width: 115px;
    margin-top: -13px; 
    border: 2px solid #FF7619;
    padding: 6px;
    background-color: #ffffff;
    text-decoration: none;
    color: #243238;
}
.card1:hover{
    background-image: linear-gradient(rgba(255,118,25, 0.8),rgba(255,118,25, 0.8)), url(donate.jpg);   
}
.card2:hover{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(volunteer.png);
    
}
.card3:hover{
    background-image: linear-gradient(rgba(255,118,25, 0.8),rgba(255,118,25, 0.8)), url(inspiration.jpg);
}

/* our reach */
.ourreach{
    position: relative;
    /* display: inline-block; */
    width: 100%;
    height: 250px;
    padding-inline-start: 180px;
    padding-inline-end: 150px;
    background-image: url(img3.jpg);
    background-attachment: fixed;
    top: 20px;
}
.ourreach1{
    display: inline-flex;
    /* background-color: aquamarine; */
    height: 250px;
    width: 17%;
   
}
.ourreach1 .timer{
    position: absolute;
    font-size: 54px;
    padding-top: 60px;
    /* padding-bottom: 0px; */
    width: 232px;
    /* background-color: teal; */
    text-align: center;
    color: #FF7619;
    font-weight: bolder;
}
.ourreach1 .totalprojects{
    position: absolute;
    flex-wrap: nowrap;
    text-align: center;
    font-weight: bolder;
    font-size: 37px;
    color: #FF7619;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 232px;
    /* background-color: violet; */
}
.ourreach2{
    display: inline-flex;
    /* background-color: red; */
    margin-left: 150px;
    margin-right: 150px;
    height: 250px;
    width: 20%;
}
.ourreach2 .timer{
    position:absolute;
    font-size: 54px;
    padding-top: 60px;
    padding-bottom: 15px;
    width: 272px;
    /* background-color: teal; */
    text-align: center;
    color: #FF7619;
    font-weight: bolder;
}
.ourreach2 .totalvolunteers{
    position: absolute;
    text-align: center;
    font-weight: bolder;
    font-size: 37px;
    color: #FF7619;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 272px;
    /* background-color: violet; */

}
.ourreach3{
    display: inline-flex;
    /* background-color: yellow; */
    height: 250px;
    width: 17%;
}
.ourreach3 .timer{  
    position: absolute;    
    font-size: 54px;
    padding-top: 60px;
    padding-bottom: 15px;
    width: 232px;
    /* background-color: teal; */
    text-align: center;
    color: #FF7619;
    font-weight: bolder;
}
.ourreach3 .totalevents{
    position: absolute;
    text-align: center;
    font-weight: bolder;
    font-size: 37px;
    color: #FF7619;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 232px;
    /* background-color: violet; */
}

/* Team Members Section Design */
.team-members{
    height: 800px;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(rgb(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url("TM.jpeg");;
}
.team-members-header{
    position: absolute;
    top: 3%;
    left: 38%;
}
.team-members-para{
    position: absolute;
    top: 11%;
    left: 30.2%;
}
.team-members-header h1 a{
    font-size: 40px;
    padding-bottom: 6px;
    background-image: linear-gradient(#FF7619, #FF7619);
    background-size: 0 3.5px;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 1.5s ease-out;
    text-decoration: none;
    color: #ffffff;
}
.team-members-header h1 a:hover{
    background-size: 100% 3.5px, auto;
}
.team-members-para p{
    font-size: 20px;
    top: 10%;
    color: #ffffff;
}
.team-members-info-1{left: 12%;}
.tm-pos{
    position: absolute;
    top: 25%;
    width: 22%;
    height: 66%;
    background-color: #ffffff;
}
.team-members-info-2{  left: 38%;}
.team-members-info-3{  left: 64%;}
.team-members-info-1 img, .team-members-info-2 img, .team-members-info-3 img{
    width: 90%;
    position: absolute;
    height: 50%;
    left: 5%;
    top: 5%;
}
.team-members-info-1 span, .team-members-info-2 span, .team-members-info-3 span{
    position: absolute;
    left: 43%;
    top: 58%;
}
.team-members-info-1 p, .team-members-info-3 p, .team-members-info-2 p{
    top: 60%;
    padding: 12px 35px;
    position: absolute;
}
.team-members-info-1 a i, .team-members-info-2 a i, .team-members-info-3 a i{
    background-color: #FF7619;
    color: #ffffff;
    position: absolute;
    top: 80%;
    padding: 1%;
    border-radius: 25px 25px 25px 25px;
    border: 1.15px solid #FF7619;
}
.team-members-info-1 a:hover .fa-instagram, .team-members-info-2 a:hover .fa-instagram, .team-members-info-3 a:hover .fa-instagram{
    background-color: #ffffff;
    color: #e84393;
}
.team-members-info-1 a:hover .fa-twitter, .team-members-info-2 a:hover .fa-twitter, .team-members-info-3 a:hover .fa-twitter{
    background-color: #ffffff;
    color: #0097e6;
}
.team-members-info-1 a:hover .fa-facebook, .team-members-info-2 a:hover .fa-facebook, .team-members-info-3 a:hover .fa-facebook{
    background-color: #ffffff;
    color: rgba(46, 46, 196, 0.979);
}

/* Sign-up designing */
.sign-up-area{
    position: relative;
    height: 120px;
    bottom: 10%;
    background-color: #FF7619;
}
.btn-subscribe{
    position: absolute;
    right: 6%;
    bottom: 33%;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    font-weight: bold;
    background-color: #E9E9E9;
    color: #FF7619;
    transition: color .5s ease;
    transition: background-color .5s ease;
}
.btn-subscribe:hover{
    color: #E9E9E9;
    background-color: #243238;
}
.btn-subscribe:active{
    transform: translateY(3px);
}
.sign-up-para{
    color: #ffffff;
    opacity: 0.8;
    font-family: sans-serif;
    position: absolute;    
}
.pos-1{
    top: 1%;
    left: 6%;
}
.pos-2{
    top: 43%;
    left: 6%;
    text-align: left;
}
.sign-up-details{
    position: absolute;
    top: 38%;
    opacity: 0.8;
    right: 18%;
}
#email, #name{
    border: #ffffff;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
}
input[type=email]:focus, input[type=text]:focus{
    background-color: rgb(161, 161, 161);
}

/* footer design */
.footer{
    position: relative;
    top: 0px;
    background-color: #243238;
    height: 350px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.footer-menu{
    position: absolute;
    left: 10%;
    top: 8%;
}
.footer-items{
    position: absolute;
    left: 28%;
    top: 8%;
}
.footer-menu-head, .footer-items-head{ color: #ffffff;font-size: 26px; padding-left: 34%;}
.footer-menu ul li a, .footer-items ul li a{
    text-decoration: none;
    color: #B6B6B6;
    line-height: 35px;
    font-size: 19px;
    text-align: left;
}
.footer-menu ul li a:hover, .footer-items ul li a:hover{
    color: #FF7619;
    opacity: 0.9;
    transition: color .8s ease;
}
.footer-menu ul li, .footer-items ul li{list-style: none;}
.gallery{
    position: absolute;
    left: 48%;
    top: 8%;
    width: 280px;
}
.gallery h2{left: 20%; color: #ffffff;}
.gallery div{   
    position: absolute;
    display: flex;
    flex-flow: row wrap;
}
.gallery div a img{
    width: 80px;
    height: auto;
    padding: 5%;    
}
.contacts{
    left: 75%;
    position: absolute;
    top: 8%;
    width: 300px;
}
.contacts h2{ color: #ffffff;}
.con-pad{ padding-bottom: 5%;}
.pos-1 i{
    position: absolute;
    border: 1px solid #B6B6B6;
    left: 5%;
    top: 100%;
    padding: 3% 4%;
    border-radius: 50%;
}
.pos-2 i{
    position: absolute;
    border: 1px solid #B6B6B6;
    left: 25%;
    top: 100%;
    padding: 2.8%;
    border-radius: 50%;
}
.pos-3 i{
    position: absolute;
    top: 100%;
    border: 1px solid #B6B6B6;
    left: 45%;
    padding: 2.5%;
    border-radius: 50%;
}
.pos-1 i:hover, .pos-2 i:hover, .pos-3 i:hover{
    background-color: #FF7619;
    color: #ffffff;
    transition: all .7s ease;
    border-color: #ffffff;
    -webkit-transform: scale(1.16, 1.16);
    transform: scale(1.16, 1.16);
}
.fa-facebook{
    color: #B6B6B6;
}
.fa-instagram{
    color: #B6B6B6;
}
.fa-twitter{
    color: #B6B6B6;
}

/* copyright design */
.copyright{
    height: 50px;
    border-top: 1px solid rgb(94, 92, 92);
    position: relative;
    background-color: #243238;
}
.cpr-content{
    position: absolute;
    top: 30%;
    left: 33%;
    font-size: 15px;
    font-family: sans-serif;
    color: #B6B6B6;
}
.cpr-link{
    text-decoration: none;
    color: #B6B6B6;
    padding-bottom: 3px;
    background-image: linear-gradient(#B6B6B6, #B6B6B6);
    background-size: 0 1.5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .5s ease;
}
.cpr-link:hover{ background-size: 100% 1.5px, auto;}
