*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}
.pop-up{
    position: relative;
    text-align: center;
    width: 100%;
   
}

.main-layout h3{
    font-size: 37px;
    text-decoration: underline;
    color: #243238;
}
.main-layout{
    position: relative;
    text-align: center;
    padding-top: 30px;
    width: 50%;
    height: 500px;
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)); */
    background-color: aqua;
    margin: 100px;
    margin-left: 350px;
}
/* .close{
    position: relative;
    padding: 8px 12px 15px 15px;
    width: 300px;
    background-color: brown;
} */
.fa-times-circle-o{
    position: absolute;
    top: 10px;
    left: 630px;
    width: 30px;
    height: 30px;
    color: #ffffff;
    /* background-color: blue; */
}